{% extends 'base.html' %}
{% block content %}
<h2>Про проєкт FindMe</h2>
<p class="mt-3">
FindMe — це сервіс для пошуку зниклих людей, який об’єднує родичів, волонтерів і громадськість.
Мета — допомогти швидкому пошуку, поширенню інформації та координації зусиль.
</p>

<h5 class="mt-4">Основні можливості:</h5>
<ul>
  <li>Публікація оголошень про зниклих людей</li>
  <li>Пошук і фільтрація за регіоном, датою, статусом</li>
  <li>Можливість коментування та взаємодії користувачів</li>
</ul>
{% endblock %}
